<form [formGroup]="formaCaja">
    <div class="form-group row">
        <label for="noEconomico" class="label col-sm-3 col-form-label">No. Caja</label>
        <div class="col-sm-9" >
            <input type="text" formControlName="noEconomico" required  nbInput fullWidth id="noEconomico"
                placeholder="No. económico">
            <input type="hidden" formControlName="id" nbInput id="id">
            <input type="hidden" formControlName="empresaId" nbInput  id="empresaId">
        </div>
    </div>
</form>

